p {
    font-weight:bold ;
}
.body { 
    text-align: justify;
}
.Bottom{
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 8px;
    gap:35;
    margin-bottom:25px;

}
#infoImage { 
    width: 300px;
    height: auto;
    margin-right: 30px;
    border-radius: 10%;
}
#infoContent{
    margin-left: -50px;
    margin-right: -100px;
    margin-bottom: 20px;
    font-size: 0.75 em;
    padding:0.5px; 
}
.tip {
    list-style-type:none;
    padding: 5;
}
.tip p {
    padding: 1em;
    border-radius: 8px;
    margin: 10px 0;
    position: relative;
}

.tip p:before {
    content: '游';
    position: absolute;
    left: -30px;
    top: 10px;
    font-size: 1.5em;
}

#list { 
    padding: 0.2em;
    margin-left: 0px;
    margin-right: 0px;
    position: relative; 
    list-style-image: url(assets/perro.png);
}

#list p:before{
    position: absolute;
    left: -30px;
    top: 10px;
    font-size: 1.5em;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    /* Estilos para dispositivos con pantalla de 768px de ancho o menos */

    .col-lg-2, .col-lg-4, .col-lg-6 {
        flex: 0 0 100%; /* Hacer que las columnas ocupen todo el ancho */
        max-width: 100%;
    }

    #infoImage {
        width: 100%; /* La imagen ocupar치 todo el ancho del contenedor */
        max-width: 100%; /* Se ajusta el ancho m치ximo */
        margin-right: 0; /* Se elimina el margen derecho */
        border-radius: 0; /* Se elimina el borde redondeado */
    }

    .tip p {
        padding: 0.5em; /* Se reduce el padding del p치rrafo */
        margin: 5px 0; /* Se reduce el margen del p치rrafo */
        font-size: 0.8em; /* Se reduce el tama침o de fuente */
    }

    .tip p:before {
        font-size: 1em; /* Se reduce el tama침o del icono */
        left: -20px; /* Se ajusta la posici칩n horizontal del icono */
        top: 6px; /* Se ajusta la posici칩n vertical del icono */
    }

    #list {
        margin-left: 0; /* Se elimina el margen izquierdo de la lista */
        padding-left: 15px; /* Se ajusta el padding de la lista */
    }

    #infoContent{
        margin-left: 20px;
        margin-right: -100px;
        margin-bottom: 20px;
        font-size: 0.75 em;
        padding:0.5px; 
    }
}
/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .col-lg-2 {
        flex: 0 0 30%; /* Ajusta el ancho de la columna */
        max-width: 30%;
    }
    
    .col-lg-6 {
        flex: 0 0 50%; /* Ajusta el ancho de la columna */
        max-width: 50%;
    }

    .col-lg-4 {
        flex: 0 0 20%; /* Ajusta el ancho de la columna */
        max-width: 20%;
    }

    #infoImage {
        width: 100%; /* La imagen ocupar치 todo el ancho del contenedor */
        max-width: 500px; /* Se limita el ancho m치ximo de la imagen */
        margin-right: 0; /* Se elimina el margen derecho */
        border-radius: 15%;
    }

    .tip p {
        padding: 0.8em; /* Ajusta el padding del p치rrafo */
        margin: 8px 0; /* Ajusta el margen del p치rrafo */
        font-size: 0.9em; /* Ajusta el tama침o de fuente del p치rrafo */
    }

    .tip p:before {
        font-size: 1.2em; /* Ajusta el tama침o de fuente del icono */
        left: -25px; /* Ajusta la posici칩n horizontal del icono */
        top: 8px; /* Ajusta la posici칩n vertical del icono */
    }

    #list {
        margin-left: 0; /* Elimina el margen izquierdo de la lista */
        padding-left: 20px; /* Agrega un padding a la izquierda de la lista */
        list-style-image: url(assets/perro.png);
    }

    #infoContent{
        margin-left: 20px;
        margin-right: -100px;
        margin-bottom: 20px;
        font-size: 0.75 em;
        padding:0.5px; 
    }
}


/* Estilos para tabletas en modo retrato (1024x1366) */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .tip p {
        padding: 0.8em;
        margin: 8px 0;
        font-size: 0.9em;
    }

    .tip p:before {
        font-size: 1.2em;
        left: -25px;
        top: 8px;
    }

    #list {
        margin-left: 0;
        padding-left: 20px;
    }

    .col-lg-2 {
        flex: 0 0 25%; /* Ajusta el ancho de la columna */
        max-width: 25%;
    }
    
    .col-lg-6 {
        flex: 0 0 50%; /* Ajusta el ancho de la columna */
        max-width: 50%;
    }

    .col-lg-4 {
        flex: 0 0 33.33%; /* Ajusta el ancho de la columna */
        max-width: 33.33%;
    }

    #infoImage {
        width: 100%; /* La imagen ocupar치 todo el ancho del contenedor */
        max-width: 700px; /* Se limita el ancho m치ximo de la imagen */
        margin-right: 0; /* Se elimina el margen derecho */
    }
}
