

.image-patita {
    
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    align-self: center;
}


.informacion {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
}

    
.Bottom {
    width: 250px; 
    height: 50px;
    font-size: 1.3rem;
}



h1 {
    color: var(--botones);
}

/* Media queries para tablet y dispositivos móviles */
#successMessage, #errorMessage {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
#successMessage {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
#errorMessage {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

