

.image-patita {
    
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    align-self: center;
}


.informacion {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
}

    
.Bottom {
    width: 250px; 
    height: 50px;
    font-size: 1.3rem;
}



h1 {
    color: var(--botones);
}

/* Media queries para tablet y dispositivos móviles */
#successMessage, #errorMessage {
    display: none;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#successMessage {
    color:white;
    background-color:rgb(3, 180, 68);
}
#errorMessage {
    color: red;
    background-color:pink;
}