.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

#centroRecuperarContraseña {
    padding: 25px;
}

#izquierdaRecuperarContraseña {
      /* Centra horizontalmente la imagen */
      text-align: center; 
}

.image-perrito {
    /* Ajusta la imagen para que no se salga del contenedor */
   
    /* Mantiene la proporción de aspecto original */
    height: auto; 
    max-width: 57%;
    order: 2; /*

   /* max-width: 100%; /* Ajusta la imagen para que no se salga del contenedor */
   /* height: auto; /* Mantiene la proporción de aspecto original */
}



#centroRecuperarContraseña form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-patita {
    
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    align-self: center;
}
.Bottom {
    text-align: center;
}

.iniciarSesion{
    text-align: center;
    margin-top: 20px; 
}

.input-wrapper, .iniciarSesion {
    white-space: nowrap;
    text-align: center;
}

.input-wrapper input {
    display: inline-block;
    margin-right: 10px;
}


@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
    }

    .olvideContraseña {
        order: 3; /* Hace que el texto "olvidar contraseña" aparezca debajo del formulario en dispositivos móviles */
    }

}