.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

#centroInicioSesion {
    padding: 25px;
}

#izquierdaInicioSesion {
    position: relative;
}

#izquierdaInicioSesion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#izquierdaInicioSesion::before {
    background-image: url('../PaginaContactanos/imagenes_pagina_contactanos/Perrito-izquierdo.jpg');
}


#centroInicioSesion form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Bottom {
    text-align: center;
}


.olvideContraseña {
    text-align: center;
}



  