

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacion{
    margin-bottom: 10px;
}



#Btn-enviar{
    margin-top: 10px;
}