.hidden {
    display: none;
}

#messageContainer {
    color:white;
    background-color:#D95043;
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior */
    text-align: center;
}

#messageContainerAceptacion {
    color:white;
    background-color:rgb(3, 180, 68);;
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior */
    text-align: center;
}

.informacion{
    margin-bottom: 10px;
}

.pagarBtn {
    margin-top: 20px; /* Aquí especificas el margen que deseas */
}


.Bottom.btn-primary {
    padding: 8px;
    width: 10em;
    display: inline-block; /* Cambia display a inline-block */
}

.Bottom.btn-primary:hover {
    background-color:#89D5C9;
}







