p {
    font-weight:bold ;
}
.body { 
    text-align: justify;
}
.Bottom{
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 8px;
    gap:35;
    margin-bottom:25px;

}
#infoImage { 
    width: 300px;
    height: auto;
    margin-right: 30px;
    border-radius: 10%;
}
#infoContent{
    margin-left: -50px;
    margin-right: -100px;
    margin-bottom: 20px;
    font-size: 0.75 em;
    padding:0.5px; 
}
.tip {
    list-style-type:none;
    padding: 5;
}

.tip p {
    padding: 1em;
    border-radius: 8px;
    margin: 10px 0;
    position: relative;
}

.tip p:before {
    content: '🐾';
    position: absolute;
    left: -30px;
    top: 10px;
    font-size: 1.5em;
}

#list { 
    padding: 0.2em;
    margin-left: 0px;
    margin-right: 0px;
    position: relative; 
    list-style-image: url(assets/perro.png);
}

#list p:before{
    position: absolute;
    left: -30px;
    top: 10px;
    font-size: 1.5em;
}

  /* Estilos para tamaños de pantalla pequeños */
@media (max-width: 786px) {
    .bottom {
         margin: 10px;
         padding-top: 15px;
         padding-bottom: 8px;
         gap: 15px;
         margin-bottom: 15px;
     }
    .col-sm-9 {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }




/* Responsive design para móviles */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        width: 3em;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: var(--navbar);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(60% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover {
        background: none;
        color: var(--fondo);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu-visible {
        left: 0;
    }

    .container {
        flex-direction: column;
        margin-top: 0;
    }


