html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body{
    padding: 1px 1px 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body p {
    margin-top: 0;
    margin-bottom: 0.01rem; /* Ajusta el valor según sea necesario */
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0;
    padding-left: 0;
}

#contenidoPagina {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row {
    flex: 1;
    display: flex;
    width: 100%;
}

#izquierdaContactanos, #centroContactanos, #derechaContactanos {
    flex: 1; /* Hace que los contenedores utilicen todo el espacio disponible */
    overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
}

#izquierdaContactanos, #derechaContactanos {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */

}

#izquierdaContactanos::before, #derechaContactanos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#izquierdaContactanos::before {
    background-image: url('./imagenes_pagina_contactanos/Perrito-izquierdo.jpg');
}

#derechaContactanos::before {
    background-image: url('./imagenes_pagina_contactanos/Perrito-derecho.jpg');
}

/* Agrega estilos específicos de Bootstrap para el centro */
#centroContactanos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

/* Estilo Telefono*/
#lada {
    background-color: #D95043;
    color: white;
    border: 1px solid var(--negro);
    border-radius: 8px 0 0 8px;
    padding: 8px;
    box-shadow: 0 5px 2px rgba(112, 112, 112, 0.54);
}

#contactoTelefono {
    border-left: none;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 5px 2px rgba(112, 112, 112, 0.54);
}

/* Ajuste de tamaño para evitar superposiciones */
.custom-input-group {
    display: flex;
    align-items: center;
    width: fit-content;
}

#formContactanos .input-group-text {
    background-color: #D95043;
    color: white;
    border: 1px solid var(--negro);
    border-radius: 8px 0 0 8px;
    box-shadow: 0 5px 2px rgba(112, 112, 112, 0.54);
    width: auto;
}

/* Letras negritas  */
#centroContactanos .text-center a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.custom-input-group {
    justify-content: center;
    align-items: center;
    width: auto;
}

.footer{
    width: 100%;
}

/*Estilo alerta*/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Estilo para los márgenes alrededor del formulario */
#centroContactanos {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*modificaciones por ancho de pagina*/
@media (max-width: 770px){
    #centroContactanos{
        margin-top: 3vh;
    }
}

@media (max-width: 650px) {
    #izquierdaContactanos, #derechaContactanos {
        width: 20%; /* Reducir el ancho de las imágenes */
        height: 100%;
    }

    #centroContactanos {
        margin-top: 3vh;
        width: 60%; /* Aumentar el ancho del centro */
        padding: 0 1rem; /* Añadimos un padding lateral para mejor ajuste en pantallas pequeñas */
    }

    .informacion {
        width: 100%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    }

    .custom-input-group {
        width: 100%; /* Asegura que el grupo de entrada ocupe todo el ancho disponible */
    }

    .mb-3.text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
    }

}

@media (max-width: 650px) {
    #izquierdaContactanos, #derechaContactanos {
        display: none; /* Oculta las imágenes cuando el ancho de la pantalla sea de 400px o menos */
    }

    #centroContactanos {
        width: 100%; /* Asegura que el contenedor central ocupe todo el ancho disponible */
        height: 90vh;
    }
}

/*modificaciones por alto de pagina*/
@media (max-height: 580px) and (max-width: 780px) {
    #centroContactanos {
        width: 100%; /* Asegura que el contenedor central ocupe todo el ancho disponible */
        height: auto; /* Permite que el contenedor se ajuste a su contenido */
        padding-bottom: 20px;
    }
}


@media (min-height: 2150px) {
    .container-fluid, .row, #izquierdaContactanos, #centroContactanos, #derechaContactanos {
        height: 100vh; /* Asegura que los contenedores laterales y central ocupen toda la altura de la ventana */
    }
    
    #centroContactanos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}




