.grid-container {
   
    display: grid;
     /* Divide la página en dos columnas de igual ancho */
    grid-template-columns: 1fr 1fr;
    /* Centra verticalmente los elementos */
    /*align-items: center; */
}

.image-patita {
    
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    align-self: center;
}

#formRegistro {
    text-align: center;
}

/* Media queries para tablet y dispositivos móviles */
#successMessage, #errorMessage,#errorMessage1 {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
#successMessage {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
#errorMessage,#errorMessage1 {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


